@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --main-color: #00CCFF;
}

body {
    background-color: #282832;
}
#iframe {
    padding: 8% 25% 5% 25%;

}

h1 {
    position: absolute;
    color: var(--main-color);

    padding-left: 3%;
    font-weight: 300;
    font-family: raleway, sans-serif;
    white-space: nowrap;
    margin-top: 1%;
}

.svg {
    position: absolute;
    margin-top: 1%;
}